// Fonts
@import "fonts";

@import "font-awesome/scss/font-awesome";

// Bootstrap
@import "bootstrap";

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  justify-content: center;
}

#app {
  overflow-x: hidden;
  flex-grow: 1;
  background-color: #f8f9fa;
  width: 100vw;
  overflow-x: hidden;
}

.breadcrumb-bar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
}

#sidebar-wrapper {
  width: 0;
  overflow: hidden;
  transition: margin .5s linear;
}

#mobilenav-wrapper {
  margin-left: -15rem;
  min-height: 100vh;
  width: 15rem;
  transition: margin .5s linear;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 1px solid $brand-dark;
}

#app.mobilenavopen #mobilenav-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 320px;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px){
  #sidebar-wrapper {
    margin-left: 0;
    min-height: 100vh;
    width: 15rem;
  }

  #app.toggled #sidebar-wrapper {
      margin-left: -15rem;
  }
}

div#topbar {
  z-index: 99;
  background-color: $white;
}

.navbar-brand {
  img {
    margin-right: 5rem;
  }
}

.pointer {
  cursor: pointer;
}

.content-panel {
  overflow-y: scroll;
  height: calc(100% - 67px);

  .panel-content {
    margin: 3rem 0 5rem;
  }
}

.big-number{
  font-size: 2.5em;
  text-align: center;
  font-weight: 300;
  color: $secondary;
}
.red{
  color: #d5451e;
}
.green{
  color: #7cb700;
}
.attribute-header {
  display: flex;
  height:100px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: $gray-600;
}
hr{
  border-bottom: 1px solid $dark;
}
.description{
  text-align: center;
  padding: 0;
  font-size: 13px;
  font-weight: 300;
}
.devices-wrapper{
  position: relative;
}
.device-header{
  padding: 20px;
}
.device{
  margin: 0 auto;
  padding-top: 20px;
}
.new-vs-returning{
  height:300px;
  display:flex;
  align-items:center;
}

.desktop{
  height: 40px;
  padding-top: 20px;
  font-size: 1.4em;
}
.phone{
  margin-top:18px;
}
.phone-text{
  height: 40px;
  padding-top: 20px;
  font-size: 1.4em;
}
.tablet{
  margin-top:12px;
}
.tablet-text{
  height: 40px;
  padding-top: 20px;
  font-size: 1.4em;
}
.visitors{
  color: $secondary;
  margin-bottom:0;
}
.visitor-type{
  padding-top: 0;
}
.height-60{
  height: 80px;
}
.height-60>p{
  padding-top:15px;
}
.white-right-border{
  border-right: 3px solid #fff;
}
.page-percentage{
  text-align:center;
  font-size: 1em;
  width: 85px;
    text-align: right;
}
.traffic-header{
  padding: 20px 0;
  font-size: 1.3em;
  font-weight: lighter;
  margin-bottom: 5px;
  text-align: right;
}
.no-gutter{
  padding-left:0;
  padding-right:0;
}
.traffic-description{
  padding-top: 20px;
}
.traffic-number{
  padding-top: 5px;
  padding-right: 20px;
}
p.page-name, .page-percentage {
  padding: 20px 0;
  font-size: 1.2em;
  margin: 0;
  line-height: 1em;
}

.row-index {
  padding: 20px 10px 20px 20px;
  font-weight: bold;
  line-height: 1em;

  span {
    height: 30px;
    width: 30px;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #FFFFFF;
  }
}

.page-name a {
  text-decoration: underline;
  font-size: .9rem;
}

.page-percentage{
  font-size: 1.4em;
  font-weight: bold;
  color: $secondary;
  line-height: 1em;
}

.traffic-source {
  height:100px;
  @media screen and (max-width: 566px){
    background-color: $white !important;
    border-bottom: rgba(0,0,0,.3) 1px solid;
    padding: 1rem !important;
    height: auto;
  }
}
